#basket {
  display: block;
  position: fixed;
  width: 340px;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: -340px;
  background: #2b2b2b;
  z-index: 100;
  transition: right 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#close-basket {
  width: 20px;
  height: 20px;
  background: url(Group5@1x.svg);
  background-size: 20px 20px;
  margin: 45px;
  float: right;
  cursor: pointer;
}

.items-in-basket {
  margin: 150px 0 0 0;
  padding: 0;

  & > li {
    list-style: none;
    margin-top: 18px;
    padding: 0 40px 18px 20px;
    border-bottom: 1.5px solid rgba(255,255,255,.1);
    font-size: 12px;
    color: white;

    & img {
      padding: 0 15px;
      height: 83px;
      float: left;
    }

    &:first-child{
      padding-top: 18px;
      border-top: 1.5px solid rgba(255,255,255,.1);
    }
  }
}

.items-number {
  font-weight: 800;
}

.buy-button {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  border: 2px solid white;
  color: white;
  margin: 40px;

  &:hover {
    background-color: rgba(0,0,0,0.2);
    border: 2px solid white;
    color: white;
  }
}

.items-number button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: white;
}

.price-in-basket {
  float: right;
}

.basket-amount{
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 18px 40px 18px 35px;
}

.basket-total {
  float: right;
}