@import "SASS/normalize.scss";
@import "SASS/header.scss";
@import "SASS/menu.scss";
@import "SASS/items.scss";
@import "SASS/item.scss";
@import "SASS/basket.scss";
@import "SASS/gallery.scss";

* {
  box-sizing: border-box;
}

body {
  font: 100% Roboto Light, sans-serif;
  background-color: white;
}

main {
  padding-top: 80px;
  padding-left: 4.2vw;
  padding-right: 8.8vw;
  margin: auto;
}

.fa {
    vertical-align: middle;
    font-family: "FontAwesome", serif;
    font-size: 20px;
    font-weight: 100;
    color: inherit;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}